<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <base href="/">
</head>
<body>
<div ng-view>
This is body inside ng-view.
</div>
<h1>This is body.</h1>
<a href="/angular_route_project/views#!/home">HOME</a>
<a href="/angular_route_project/views#!/info">Info</a>
<a href="/angular_route_project/views#!/content">Content</a>
<script type="text/javascript" src="/angular_route_project/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/angular_route_project/node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/angular_route_project/js/app.js"></script>

</body>
</html>